<div class="flex flex-col w-full p-8">
  <%= render '/components/branch_select' %>

  <h1 class="text-dark-blue mb-8">Actual branch : <%= @branch_name %></h1>
  <div class="flex flex-wrap">
    <% @code_value_by_locales.each do |locale, *values| %>
      <%= link_to branch_locale_path(@branch_name, locale), class: "w-48 max-w-sm px-4 py-3 mr-8 mb-8 bg-white rounded-md shadow-md border-solid border-t-4 border-blue-600" do %> 
        <div class="flex flex-col justify-between">
            <div>
              <div>
                <span class="text-lg font-bold text-gray-800"><%= locale %></span>
                <span class="text-sm font-light text-gray-800"><%= country_flag(locale) %></span>
              </div>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-2.5">
              <div class="bg-blue-600 h-2.5 rounded-full" style="width: <%= (values[0].count{|key, value| value.present?}.to_f / values[0].count.to_f) * 100 %>%"></div>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
