<div class="flex flex-col w-full p-8">
  <h1>Page de la langue  <%= country_flag(@locale) %></h1>

  <div class="py-8 my-8">
    <%= form_with url: locale_path(@locale), method: :patch do |form| %>
      <% @translations.each do |code, value| %>
        <div class="mb-8">
          <%= form.label "code", code, class: "block text-sm text-gray-500 dark:text-gray-300" %>
          <%= form.text_field "val[#{code}]", value: value, class: "block  mt-2 w-full placeholder-gray-400/70 dark:placeholder-gray-500 rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-gray-700 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300" %>
        </div>
      <% end %>

      <%= form.submit "Enregistrer", class: "px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-400" %>
    <% end %>
  </div>
</div>