<div class="flex flex-col w-full p-8">
  <h1 class="text-dark-blue">Dashboard</h1>
  <a class="text-blue-500 hover:underline hover:cursor" href=<%= @repo[:html_url] %> target="_blank"><%= @repo[:full_name] %></a>
  <div class="w-full p-8 my-8 bg-white rounded-lg shadow-md border-t-4 border-blue-600">
    <div class="mt-2">
        <span class="text-xl font-bold text-gray-700"><%= t('.i18n_made_easy') %></span>
        <p class="mt-2 text-gray-600"><%= t('.manage_your_translations') %></p>
    </div>
  </div>
  <div class="flex flex-row gap-4 my-4">
    <% { number_of_branches: @branches_count, number_of_commits: @total_translation_commits_count, number_of_languages: @locales_count }.each do |title, count| %>
      <div class="w-full p-8 space-y-8 text-center bg-white rounded-lg shadow-md">
          <p class="font-medium text-gray-900 uppercase"><%= t(".#{title}") %></p>

          <h2 class="text-5xl font-bold uppercase">
              <%= count %>
          </h2>

          <% if title == :number_of_commits %>
            <p class="font-medium text-gray-900"><%= t('.last_month') %></p>
          <% end %>
      </div>
    <% end %>
  </div>
</div>